input {
    padding: 10px;
    width: 240px;
    margin: 5px;
    border: none;
    background: #e9e9e9;
}
.input-label {
    display: flex;
    flex-direction: column;
}
.input-name {
    font-weight: bold;
    margin-left: 5px;
}
.input-content {
    display: flex;
    flex-direction: row;
}

.input-label.max-symbols input {
    background: #F64A46;
}